h1 {
  font-size: 4em;
  padding: 0.5em 0;
}

h2 {
  font-size: 4em;
  padding: 0.5em 0;
}

h3 {
  font-size: 2em;
  padding: 0.5em 0;
}

p {
  padding-top: 1em;
}

blockquote {
  padding: 1em;
  margin: 1em;
  border-left: 3px solid #ccc;
}

a {
  color: #007bff;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, p, li {
    color: rgb(168 162 158);
  }
  body {
    background-color: rgb(28 25 23);
  }
}
