body {
  overflow-x: hidden;
  max-width: 100%;
}

@media (max-width: 500px) {
  #about_row {
    display: inline;
  }
}

@media (min-width: 800px) {
  #about_row {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

#about_row {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  #pfp {
    max-width: 50%;
  }
}

@media (min-width: 500px) {
  #pfp {
    max-height: 30vw;
  }
}

@media (min-width: 900px) {
  #pfp {
    max-height: 20vw;
  }
}

@media (max-width: 800px) {
  #about_row {
    margin-left: 30px;
    margin-right: 30px;
  }
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}


.hero-section {
  justify-content: center !important;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-section svg {
  position: absolute;
  top: 0;
  left: 25%;
  z-index: -1;
}

.trace {
  stroke: var(--hero-stroke);
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 0, 100%;
  animation: draw 4s infinite;
}

@keyframes draw {
  from {
    stroke-dasharray: 0, 100%;
  }

  to {
    stroke-dasharray: 100%, 0;
  }
}

.post {
  margin-bottom: 20px;
  background-color: var(--bs-secondary);
  min-height: 5em;
}

.post-img {
  max-width: 30em;
  margin-right: 10px;
}

table {
  /*width: 100%;*/
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Header styles */
th {
  background-color: var(--bs-blue);
  color: var(--bs-text-primary);
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

/* Row styles */
tr:nth-child(even) {
  background-color: var(--bs-secondary);
}

/* Cell styles */
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

leptonic-theme-toggle {
  margin: 1em;
}
